.subscribe {
  padding: 110px 0px;
  @include laptop-min {
    padding: 80px 0px;
  }
  @include tablet {
    padding: 60px 0px 70px 0px;
  }
  &__head {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    @include tablet {
      flex-direction: column-reverse;
      gap: 14px;
      margin-bottom: 20px;
    }

    .sect-title {
      margin: 0;
    }
  }
  &__head-btn {
    display: block;
    width: 30px;
    height: 30px;
    transition: opacity .2s ease;
    @include hover {
      opacity: 0.5;
    }
    @include tablet {
      width: 26px;
      height: 26px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    @include laptop-min {
      gap: 16px;
    }
    @include tablet {
      grid-template-columns: repeat(6, 1fr);
      max-width: 450px;
      margin: 0 auto;
    }
  }
  &__item {
    display: block;
    grid-column: 3 span;
    height: 330px;

    transition: opacity .2s ease;
    @include hover {
      opacity: 0.7;
    }
    @include laptop-middle {
      height: 290px;
    }
    @include laptop-min {
      height: 250px;
    }
    @include tablet {
      height: 290px;
    }
    @include mobile {
      height: 230px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}