<section class="about">
  <div class="container about__container">
    <div class="about__info">
      <h1 class="title sect-title">About Us</h1>
      <div class="about__content">
        <p>We give you 60 days to try out your Nike purchase to make sure it works for you.</p>
        <p>Here’s what you need to know:</p>
        <ul>
          <li>You can return within 60 days of an online order delivery or Nike store purchase (some exceptions apply).</li>
          <li>Proof of purchase is required to return.</li>
          <li>Items purchased at Nike Clearance stores cannot be returned, and Nike Clearance stores do not accept returns of any kind.</li>
          <li>Returns are free for Nike Members.</li>
        </ul>
        <p>So go ahead, shop with confidence and enjoy your 60-day trial.</p>
        <ul>
          <li>Items purchased at Nike Clearance stores cannot be returned, and Nike Clearance stores do not accept returns of any kind.</li>
          <li>Returns are free for Nike Members.</li>
        </ul>
        <p>So go ahead, shop with confidence and enjoy your 60-day trial.</p>
      </div>
      <a href="#" class="btn _black about__btn">Go to catalog</a>
    </div>
    <img data-da=".about__info,992,1" src="@img/about.jpg" alt="image" class="about__img">
  </div>
</section>