<section class="cart">
  <div class="container">
    <button class="btn-back">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
      </svg>
      <span>Back</span>
    </button>
    <h1 class="title sect-title">my cart</h1>
    <div class="cart__wrapper">
      <div class="cart__products">
        <div class="cart__item">
          <img src="@img/collection.jpg" alt="image" class="cart__item-img" />
          <div class="cart__item-body">
            <div class="cart__item-head">
              <a href="#" class="cart__item-title"
                >Light blue loose fit cotton suit</a
              >
              <p class="cart__item-descr">XS/ Blue</p>
            </div>
            <div class="cart__number-wrapper product-number">
              <div class="product-number-minus">-</div>
              <input class="product-number-value" value="1" />
              <div class="product-number-plus">+</div>
            </div>
            <div class="cart__item-price">$ 90</div>
            <a href="#" class="cart__item-del">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="cart__item">
          <img src="@img/collection.jpg" alt="image" class="cart__item-img" />
          <div class="cart__item-body">
            <div class="cart__item-head">
              <a href="#" class="cart__item-title"
                >Light blue loose fit cotton suit</a
              >
              <p class="cart__item-descr">XS/ Blue</p>
            </div>
            <div class="cart__number-wrapper product-number">
              <div class="product-number-minus">-</div>
              <input class="product-number-value" value="1" />
              <div class="product-number-plus">+</div>
            </div>
            <div class="cart__item-price">$ 90</div>
            <a href="#" class="cart__item-del">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="cart__item">
          <img src="@img/collection.jpg" alt="image" class="cart__item-img" />
          <div class="cart__item-body">
            <div class="cart__item-head">
              <a href="#" class="cart__item-title"
                >Light blue loose fit cotton suit</a
              >
              <p class="cart__item-descr">XS/ Blue</p>
            </div>
            <div class="cart__number-wrapper product-number">
              <div class="product-number-minus">-</div>
              <input class="product-number-value" value="1" />
              <div class="product-number-plus">+</div>
            </div>
            <div class="cart__item-price">$ 90</div>
            <a href="#" class="cart__item-del">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="cart__item">
          <img src="@img/collection.jpg" alt="image" class="cart__item-img" />
          <div class="cart__item-body">
            <div class="cart__item-head">
              <a href="#" class="cart__item-title"
                >Light blue loose fit cotton suit</a
              >
              <p class="cart__item-descr">XS/ Blue</p>
            </div>
            <div class="cart__number-wrapper product-number">
              <div class="product-number-minus">-</div>
              <input class="product-number-value" value="1" />
              <div class="product-number-plus">+</div>
            </div>
            <div class="cart__item-price">$ 90</div>
            <a href="#" class="cart__item-del">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="cart__totals">
        <h3 class="cart__total-title">Cart totals</h3>
        <ul class="list cart__totals-list">
          <li>
            <span>Subtotal</span>
            <span>$ 90</span>
          </li>
          <li>
            <span>Estimated Shipping</span>
            <span>$ 0.00</span>
          </li>
        </ul>
        <div class="cart__total">
          <span>Total</span>
          <span>$ 97</span>
        </div>
        <a href="#" class="btn cart__totals-btn _black">Proceed to checkout</a>
      </div>
    </div>
  </div>
</section>
