<section class="catalog">
  <div class="container">
    <h1 class="title sect-title">Catalog</h1>
    <div class="catalog__wrapper">
      <aside class="catalog__filters" data-spollers>
        <span class="catalog__filters-title">Filters</span>
        <div class="catalog__filter">
          <button class="btn-reset catalog__filter-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
            <span>Size</span>
          </button>
          <div>
            <div
              class="berocket_single_filter_widget berocket_single_filter_widget_282"
              data-id="282"
            >
              <div
                class="bapf_sfilter bapf_ckbox"
                data-op="OR"
                data-taxonomy="pa_load_capacity"
                id="bapf_3"
              >
                <div class="bapf_body">
                  <ul>
                    <li>
                      <input id="S (243)" type="checkbox" value="54" /><label
                        for="S (243)"
                        >S (243)</label
                      >
                    </li>
                    <li>
                      <input id="M (112)" type="checkbox" value="54" /><label
                        for="M (112)"
                        >M (112)</label
                      >
                    </li>
                    <li>
                      <input id="L (317)" type="checkbox" value="54" /><label
                        for="L (317)"
                        >L (317)</label
                      >
                    </li>
                    <li>
                      <input id="XL (174)" type="checkbox" value="54" /><label
                        for="XL (174)"
                        >XL (174)</label
                      >
                    </li>
                    <li>
                      <input id="S-M (8)" type="checkbox" value="54" /><label
                        for="S-M (8)"
                        >S-M (8)</label
                      >
                    </li>
                    <li>
                      <input id="M-L (10)" type="checkbox" value="54" /><label
                        for="M-L (10)"
                        >M-L (10)</label
                      >
                    </li>
                    <li>
                      <input id="One Size (5)" type="checkbox" value="54" /><label
                        for="One Size (5)"
                        >One Size (5)</label
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog__filter">
          <button class="btn-reset catalog__filter-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
            <span>product type</span>
          </button>
          <div>
            <div
              class="berocket_single_filter_widget berocket_single_filter_widget_282"
              data-id="282"
            >
              <div
                class="bapf_sfilter bapf_ckbox"
                data-op="OR"
                data-taxonomy="pa_load_capacity"
                id="bapf_3"
              >
                <div class="bapf_body">
                  <ul>
                    <li>
                      <input id="Sets (12)" type="checkbox" value="54" /><label
                        for="Sets (12)"
                        >Sets (12)</label
                      >
                    </li>
                    <li>
                      <input id="Skirts (17)" type="checkbox" value="54" /><label
                        for="Skirts (17)"
                        >Skirts (17)</label
                      >
                    </li>
                    <li>
                      <input id="Dresses (30)" type="checkbox" value="54" /><label
                        for="Dresses (30)"
                        >Dresses (30)</label
                      >
                    </li>
                    <li>
                      <input id="Shorts (21)" type="checkbox" value="54" /><label
                        for="Shorts (21)"
                        >Shorts (21)</label
                      >
                    </li>
                    <li>
                      <input id="Swimsuit (8)" type="checkbox" value="54" /><label
                        for="Swimsuit (8)"
                        >Swimsuit (8)</label
                      >
                    </li>
                    <li>
                      <input id="Tops (10)" type="checkbox" value="54" /><label
                        for="Tops (10)"
                        >Tops (10)</label
                      >
                    </li>
                    <li>
                      <input id="Pants (2)" type="checkbox" value="54" /><label
                        for="Pants (2)"
                        >Pants (2)</label
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog__filter">
          <button class="btn-reset catalog__filter-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
            <span>color</span>
          </button>
          <div>
            <div
              class="berocket_single_filter_widget berocket_single_filter_widget_282"
              data-id="282"
            >
              <div
                class="bapf_sfilter bapf_ckbox"
                data-op="OR"
                data-taxonomy="pa_load_capacity"
                id="bapf_3"
              >
                <div class="bapf_body">
                  <ul>
                    <li>
                      <input id="Black (12)" type="checkbox" value="54" /><label
                        for="Black (12)"
                        >Black (12)</label
                      >
                    </li>
                    <li>
                      <input id="Cream (17)" type="checkbox" value="54" /><label
                        for="Cream (17)"
                        >Cream (17)</label
                      >
                    </li>
                    <li>
                      <input id="Denim (30)" type="checkbox" value="54" /><label
                        for="Denim (30)"
                        >Denim (30)</label
                      >
                    </li>
                    <li>
                      <input id="Forest (21)" type="checkbox" value="54" /><label
                        for="Forest (21)"
                        >Forest (21)</label
                      >
                    </li>
                    <li>
                      <input id="Orange (8)" type="checkbox" value="54" /><label
                        for="Orange (8)"
                        >Orange (8)</label
                      >
                    </li>
                    <li>
                      <input id="Grey (10)" type="checkbox" value="54" /><label
                        for="Grey (10)"
                        >Grey (10)</label
                      >
                    </li>
                    <li>
                      <input id="Blue (2)" type="checkbox" value="54" /><label
                        for="Blue (2)"
                        >Blue (2)</label
                      >
                    </li>
                    <li>
                      <input id="Lime (30)" type="checkbox" value="54" /><label
                        for="Lime (30)"
                        >Lime (30)</label
                      >
                    </li>
                    <li>
                      <input id="Red (20)" type="checkbox" value="54" /><label
                        for="Red (20)"
                        >Red (20)</label
                      >
                    </li>
                    <li>
                      <input id="Yellow (20)" type="checkbox" value="54" /><label
                        for="Yellow (20)"
                        >Yellow (20)</label
                      >
                    </li>
                    <li>
                      <input id="Purple (20)" type="checkbox" value="54" /><label
                        for="Purple (20)"
                        >Purple (20)</label
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>