<footer class="footer">
  <div class="container _big">
    <div class="footer__head">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo.svg" alt="logo" class="footer__logo-img" />
        </a>
        <ul class="list footer__social">
          <li>
            <a class="footer__social-btn" href="#" target="_blank">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-fc-r"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__social-btn" href="#" target="_blank">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-inst-r"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__social-btn" href="#" target="_blank">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh-r"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <nav class="footer__nav">
        <ul class="list footer__list">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Order cancellation</a></li>
          <li><a href="#">Shipping and delivery</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Payment options</a></li>
          <li><a href="#">Returns</a></li>
        </ul>
      </nav>
    </div>
		<div class="footer__bottom">
			<p class="footer__copyright">@2025 All rights reserved</p>
			<ul class="list footer__bottom-list">
				<li><a href="#">Privacy policy</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="#">Do not sell or share my personal information</a></li>
			</ul>
		</div>
  </div>
</footer>
