<div id="modal-contact" class="modal">
  <h3 class="title modal__title">Contact us</h3>
  <from class="modal__form">
    <div class="modal__form-control">
      <input type="text" placeholder="Name" class="input">
    </div>
    <div class="modal__form-control">
      <input type="tel" placeholder="Telephone" class="input">
    </div>
    <button class="btn _black modal__form-btn">Send</button>
    <input type="checkbox" checked id="privacy-policy" class="input-policy">
    <label for="privacy-policy" class="label-policy">I agree with the <a href="#">privacy policy</a></label>
  </from>
</div>