<section class="order">
  <div class="cotnainer">
    <button class="btn-back">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
      </svg>
      <span>Back</span>
    </button>
    <h2 class="title sect-title">checkout</h2>
    <form class="order__form">

      <div class="order__main">
        <div class="order__item">
          <h5 class="order__item-title">Customer info</h5>
          <div class="order__form-control">
            <input type="text" placeholder="First name" class="input">
          </div>
          <div class="order__form-control">
            <input type="text" placeholder="Last name" class="input">
          </div>
          <div class="order__form-control">
            <input type="tel" placeholder="Number phone" class="input">
          </div>
          <div class="order__form-control">
            <input type="email" placeholder="E-mail" class="input">
          </div>
        </div>
      </div>
    
      <div class="order__summary">
        <h5 class="order__summary-title">Order Summary</h5>
        <ul class="list order__summary-list">
          <li>
            <span>Subtotal</span>
            <span>$ 90</span>
          </li>
          <li>
            <span>Estimated Shipping</span>
            <span>$ 0.00</span>
          </li>
          <li>
            <span>Estimated Tax</span>
            <span>$ 7</span>
          </li>
        </ul>
        <div class="order__summary-total">
          <span>Total</span>
          <div class="order__summary-total-price">
            <span>USD</span>
            <span>$ 97</span>
          </div>
          <button class="btn _black order__summary-btn">Proceed to checkout</button>
        </div>
      </div>
    </form>
  </div>
</section>