<section class="privacy-policy">
  <div class="container">
    <h1 class="title sect-title">PRIVACY POLICY</h1>
    <div class="privacy-policy__content">
      <h4>1.         Scope of this Privacy Policy</h4>
      <p>
        This Privacy Policy (“Policy”) applies to the personal information that
        Nike, Inc. and its affiliates (collectively, “Nike”) collect and process
        when you interact with us as a customer, including when you interact
        with our websites, digital experiences, mobile apps, stores, online or
        offline events, promotions, or one of our other products or services,
        all of which are part of Nike’s “Platform” and direct to this Privacy
        Policy. This Policy also applies to the personal information that Nike
        processes when you subscribe to receive marketing communications from
        us, communicate with us or engage with us via our Platform, or
        participate in contests, sweepstakes, and surveys. <br />
        Nike may provide you with additional privacy notices that will apply to
        certain personal information collected and processed by us. For example,
        we may provide additional notice to provide more specific information if
        you choose to take advantage of a particular partner promotion.  This
        Policy does not apply to your personal information if you work for us as
        an employee or independent contractor, apply for a job at Nike, or
        interact with third party partners or websites that are linked to or
        accessible from Nike’s Platform.
      </p>
      <h4>2.         Personal Information We Collect</h4>
      <p>
        Nike collects personal information directly from you, automatically when
        you use our Platform or interact with us, and from third parties.   The
        definition of “personal information” depends on the applicable law of
        where you reside. For purposes of this policy, “personal information”
        means information that identifies, relates to, describes, is reasonably
        capable of being associated with, or could reasonably be linked,
        directly or indirectly, to an individual or household.  This does not
        include aggregated or de-identified information that is maintained in a
        form that cannot reasonably be used to infer information about, or
        otherwise be linked to, a particular individual or household.
      </p>
      <p>
        <strong>Personal Information Collected Directly from You.</strong> We
        ask you for certain personal information to provide you with the
        products or services you request. The personal information we collect
        from you depends on how you interact with us or use our Platform. This
        personal information includes your:
      </p>
      <ul>
        <li>
          <strong>Identifiers.</strong> We collect certain personal information
          from you, such as your name, telephone number, email address, date of
          birth, password, and other identifiers, as well as any personal and
          demographic information that you share with us, such as gender,
          hometown, photos, and images you provide to us or post to your
          profile, or product preferences. When you make a purchase, we collect
          your payment or credit card information and shipping and billing
          address.
        </li>
        <li>
          <strong>Commercial Information.</strong> We collect information about
          your purchases, favorites, and items that you view or add to your
          cart.
        </li>
        <li>
          <strong>Communications.</strong> When you communicate with us, we
          collect your contact details and keep a record of the communications,
          as well as our responses. We also maintain records of information that
          you post on our social media channels, and information you provide to
          us related to any customer support requests.
        </li>
        <li>
          <strong>Physical Characteristics.</strong> We collect information on
          your physical characteristics, including weight, height, and body
          measurements (such as estimated stride and shoe/foot measurements or
          apparel size).
        </li>
        <li>
          <strong>Fitness and Activity Information.</strong> We may collect
          fitness activity information provided by you or generated through your
          use of our Platform, such as time, duration, distance, location,
          calorie count, resting heart rate and pace/stride. We may also collect
          information from your device’s health and fitness repository (such as
          Apple’s HealthKit or Android’s Google Fit).
        </li>
        <li>
          <strong>Sweepstakes, Contests and Promotions.</strong> If you
          participate in sweepstakes, contests, and promotions that we offer, we
          may collect your personal information and other registration
          information related to contests, sweepstakes, and promotions.
        </li>
        <li>
          <strong>Events Information.</strong> We also collect personal
          information related to your participation in our events. For example,
          if you register for or attend an event that we host or sponsor, we may
          collect information related to your registration for and participation
          in such event.
        </li>
      </ul>
      <p>
        <strong>Personal Information from Third Parties.</strong> We may collect
        personal information about you from third party sources, including when
        you use our Platform with third party products and sources. This
        includes:
      </p>
      <ul>
        <li>
          <strong>Information from Third Party Products and Services.</strong
          > If you connect your Nike account or access our Platform through
          third party products or services (such as app stores or social media
          platforms), we may collect information about you from that third party
          product or service.
        </li>
        <li>
          <strong>Information from Partners.</strong> With your consent where
          required, we may obtain information about how you participate or
          engage with marketing campaigns and/or events that Nike sponsors
          jointly with third party partners.
        </li>
      </ul>
      <p>
        Third-party products and services may control the information they
        collect and share about you. For information about how these third
        parties may use and disclose your information, please consult their
        respective privacy policies.
      </p>
      <h4>3.         How and Why We Use Your Information</h4>
      <p>
        Nike collects, uses, discloses, and otherwise processes the personal
        information we collect for the following business and commercial
        purposes:
      </p>
      <ul>
        <li>
          <strong
            >To Provide the Features of the Platform and the Services You
            Request.</strong
          > When you use our Platform, we will use your personal information to
          provide the requested product or service. For example, if you make a
          purchase on Nike.com, we will use your personal information to fulfill
          your order and complete the transaction. If you participate in a
          promotion, we will use the contact information you give us to
          communicate with you about the promotion. If you contact our consumer
          services, we will use information about you, such as delivery or
          payment information, or the product you have purchased, to help you
          resolve a problem or question.
        </li>
      </ul>
      <p>
        If you use our Platform to track your fitness activity or physical
        characteristics, we will collect this personal information and store it
        so that you can review it in the Platform. Your fitness activity
        information may include information you enter about your activity or
        data collected by your device during your activity such as location and
        movement information. We may use this activity information to calculate
        further information about your activity, such as distance run, or
        calories burned, so that the calculated information can be provided to
        you as part of the functionality of the Platform.
      </p>
      <p>
        In many cases, to use particular features within our Platform you may
        need to provide Nike with additional information or additional consent
        to use particular information in a certain way. For example, to use the
        heart rate tracking features of our Platform, you may need to connect to
        a heart rate monitoring device. Similarly, to share content on social
        media, you may be required to provide your social media account
        credentials to sign in.
      </p>
      <ul>
        <li>
          To Send Marketing and Communicate Information about our Products,
          Services, Events and for Other Promotional Purposes. If you are an
          existing customer of Nike (for example, if you have placed an order
          with us), we may use the contact details you provide to send you
          marketing communications about similar Nike products or services,
          where permitted by applicable law (unless you have opted out). In
          other cases, we ask for your consent to send you marketing
          information.
        </li>
      </ul>
      <p>
        Except for fitness and activity information (including Workout Info,
        defined below), we may use the information that you provide to us as
        well as information from other Nike products or services, such as your
        use of Nike’s Platform, to personalize communications and advertisements
        regarding our products and services that may be of interest to you. This
        may include information collected from your interactions with our
        Platform that are associated with your account across devices. For more
        information about how we use your fitness and activity information, see
        <a href="#">“Use of Fitness and Activity Information”</a> below.
      </p>
      <p>
        We may also use information for event planning and management, including
        registration, attendance, connecting you with other event attendees, and
        contacting you about relevant events and services.
      </p>
      <ul>
        <li>
          <strong>For Research, analytics, and improvement.</strong> We use
          information to better understand how consumers engage with the
          Platform and our products and offerings, including consumer behavior
          and preferences. We administer surveys and questionnaires, such as for
          market research or member satisfaction purposes. We also use
          information for other research and analytical purposes, such as to
          evaluate and improve our Platform and business operations, to develop
          services and features, and for internal quality control and training
          purposes. For example, we may use information about how consumers
          engage with Nike.com to search for and find products, to better
          understand the best ways to organize and present product offerings in
          our storefront.
        </li>
        <li>
          <strong>To Personalize Your Experience and Our Platform.</strong> We
          use personal information, including inferences drawn from your
          personal information, to tailor and personalize your experience on our
          Platform.
        </li>
        <li>
          <strong
            >To Operate, Improve and Maintain our Business, Products and
            Services.</strong
          >
          We use the personal information you provide to us to operate, improve,
          and maintain our business, products, and services. We may use personal
          information about how you use our products and services to enhance
          your user experience and to help us diagnose technical and service
          problems and administer our Platform. We also use information to
          consider and implement mergers, acquisitions, reorganizations,
          bankruptcies, and other business transactions such as financings, and
          as related to the administration of our general business, accounting,
          auditing, compliance, recordkeeping, legal and other internal
          functions.
        </li>
        <li>
          <strong>
            To Protect Our or Others’ Rights, Property or Safety. </strong
          > We use information to protect the Platform and our business
          operations; to protect our rights or those of our stakeholders; to
          prevent, detect and investigate actual or suspected fraud, abuse,
          illegal use, unauthorized or illegal activities and access and other
          misuse; and where we believe necessary to investigate, prevent or take
          action regarding situations involving potential threats to the safety
          or legal rights of any person or third party, or violations of our <a
            href="#"
            >Terms of Use</a
          >.
        </li>
        <li>
          <strong>To Comply with Legal Obligations.</strong> We may also use
          your personal information as part of legal proceedings, to respond to
          legal process, and to comply with court orders, governmental requests,
          or applicable law. 
        </li>
        <li>
          Use of Fitness and Activity Information. We collect information about
          your fitness, activity, or your physical characteristics, some of
          which constitutes “Workout Info,” to provide certain services on our
          Platform. Because of the personal nature of this information, we
          strive to provide you with clear notice about how this information,
          including Workout Info, will be used. As this information may be
          considered sensitive in certain jurisdictions, we take appropriate
          measures in protecting and using this information and, where required
          by applicable law or under Nike’s internal policies, will obtain your
          consent for use of your fitness and activity information and Workout
          Info. Click <a href="#">here</a> to learn more about how Nike
          processes your Workout Info.  Please see “<a href="#"
            >Managing Your Privacy Rights and Choices</a
          >” below for additional information on managing Nike’s use of your
          Workout Info.
        </li>
        <li>
          <strong>For Account Linking.</strong> If you consent to link your Nike
          account with a membership account at a Nike partner, Nike will obtain
          personal information from the Nike partner, including your purchases
          and returns.  We use this information to give you access to selected
          benefits, such as access to exclusive Nike products, rewards, and
          experiences, when you shop with our partners.  Nike will also use the
          personal information to personalize your experience on the Nike
          Platform and to send your personalized marketing communications. 
        </li>
        <li>
          <strong>Other purposes.</strong> We may also use your personal
          information in other ways and will provide specific notice at the time
          of collection and obtain your consent where necessary.
        </li>
      </ul>
    </div>
  </div>
</section>
