<section class="product">
  <div class="container">
    <button class="btn-back">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
      </svg>
      <span>Back</span>
    </button>
    <div class="product__wrapper">
      <div class="product__gallery">
        <button class="btn-reset slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="product__nav">
          <div class="product__nav-btn">
            <img
              src="@img/collection.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
          <div class="product__nav-btn">
            <img
              src="@img/collection-2.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
          <div class="product__nav-btn">
            <img
              src="@img/collection.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
          <div class="product__nav-btn">
            <img
              src="@img/collection-2.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
        </div>
        <div class="product__slider-wrapper">
          <div class="swiper product__slider">
            <div class="swiper-wrapper">
              <a
                href="@img/collection.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
              <a
                href="@img/collection-2.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection-2.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
              <a
                href="@img/collection.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
              <a
                href="@img/collection-2.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection-2.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
            </div>
          </div>
          <div class="product__slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
