<section class="product">
  <div class="container">
    <button class="btn-back">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
      </svg>
      <span>Back</span>
    </button>
    <div class="product__wrapper">
      <div class="product__gallery">
        <button class="btn-reset slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="product__nav">
          <div class="product__nav-btn">
            <img
              src="@img/collection.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
          <div class="product__nav-btn">
            <img
              src="@img/collection-2.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
          <div class="product__nav-btn">
            <img
              src="@img/collection.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
          <div class="product__nav-btn">
            <img
              src="@img/collection-2.jpg"
              alt="image"
              class="product__nav-img"
            />
          </div>
        </div>
        <div class="product__slider-wrapper">
          <div class="swiper product__slider">
            <div class="swiper-wrapper">
              <a
                href="@img/collection.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
              <a
                href="@img/collection-2.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection-2.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
              <a
                href="@img/collection.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
              <a
                href="@img/collection-2.jpg"
                data-fancybox="product"
                class="swiper-slide"
              >
                <img
                  src="@img/collection-2.jpg"
                  alt=""
                  class="product__slide-img"
                />
              </a>
            </div>
          </div>
          <div class="product__slider-pagination"></div>
        </div>
      </div>
      <div class="product__info">
        <h1 class="title sect-title product__title">
          Light blue loose fit cotton suit
        </h1>
        <div class="product__price">$90</div>
        <form class="variations_form cart wvs-loaded">
          <div>
            <table class="variations" role="presentation">
              <tbody>
                <tr>
                  <th class="label">
                    <label for="pa_size">Size:</label
                    ><span
                      class="woo-selected-variation-item-name"
                      data-default=""
                    ></span>
                  </th>
                  <td class="value woo-variation-items-wrapper">
                    <select
                      style="display: none"
                      id="pa_size"
                      class="woo-variation-raw-select"
                      name="attribute_pa_size"
                      data-attribute_name="attribute_pa_size"
                      data-show_option_none="yes"
                    >
                      <option value="">Выбрать опцию</option>
                      <option value="XS" class="attached enabled">XS</option>
                      <option value="S" class="attached enabled">S</option>
                      <option value="M" class="attached enabled">M</option>
                      <option value="L" class="attached enabled">L</option>
                    </select>
                    <ul
                      role="radiogroup"
                      aria-label="Размер"
                      class="single-product-variable-items wvs-style-squared variable-items-wrapper mixed-variable-items-wrapper"
                      data-attribute_name="attribute_pa_size"
                      data-attribute_values='["l","m","s","xl"]'
                    >
                      <li
                        aria-checked="false"
                        tabindex="0"
                        data-wvstooltip="L"
                        class="variable-item button-variable-item button-variable-item-l selected"
                        title="L"
                        data-title="L"
                        data-value="l"
                        role="radio"
                        data-wvstooltip-out-of-stock=""
                        style="--horizontal-position: 0px"
                      >
                        <div class="variable-item-contents">
                          <span
                            class="variable-item-span variable-item-span-button"
                            >L</span
                          >
                        </div>
                      </li>
                      <li
                        aria-checked="false"
                        tabindex="0"
                        data-wvstooltip="M"
                        class="variable-item button-variable-item button-variable-item-m"
                        title="M"
                        data-title="M"
                        data-value="m"
                        role="radio"
                        data-wvstooltip-out-of-stock=""
                      >
                        <div class="variable-item-contents">
                          <span
                            class="variable-item-span variable-item-span-button"
                            >M</span
                          >
                        </div>
                      </li>
                      <li
                        aria-checked="false"
                        tabindex="0"
                        data-wvstooltip="S"
                        class="variable-item button-variable-item button-variable-item-s"
                        title="S"
                        data-title="S"
                        data-value="s"
                        role="radio"
                        data-wvstooltip-out-of-stock=""
                      >
                        <div class="variable-item-contents">
                          <span
                            class="variable-item-span variable-item-span-button"
                            >S</span
                          >
                        </div>
                      </li>
                      <li
                        aria-checked="false"
                        tabindex="0"
                        data-wvstooltip="XL"
                        class="variable-item button-variable-item button-variable-item-xl"
                        title="XL"
                        data-title="XL"
                        data-value="xl"
                        role="radio"
                        data-wvstooltip-out-of-stock=""
                      >
                        <div class="variable-item-contents">
                          <span
                            class="variable-item-span variable-item-span-button"
                            >XL</span
                          >
                        </div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="reset_variations_alert screen-reader-text"
              role="alert"
              aria-live="polite"
              aria-relevant="all"
            ></div>
          </div>
        </form>
        <ul class="list product__attributes">
          <li>Color: blue</li>
        </ul>
        <div class="product__bottom-nav">
          <form action="#" class="product__number-form">
            <div class="product__number-wrapper">
              <div class="product__number-btn" id="product-number-minus">
                -
              </div>
              <input class="product__number" value="1" id="product-number" />
              <div class="product__number-btn" id="product-number-plus">
                +
              </div>
            </div>
            <button class="btn product__add-btn _black">Add to bag</button>
          </form>
          <button class="btn-reset product__like">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-heart'></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
