<section class="subscribe">
  <div class="container">
    <div class="subscribe__head">
      <h2 class="title sect-title">follow us in instagram</h2>
      <a href="№" class="subscribe__head-btn">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-inst'></use>
        </svg>
      </a>
    </div>
    <div class="subscribe__wrapper">
      <a href="@img/subscribe.jpg" data-fancybox="subscribe" class="subscribe__item">
        <img src="@img/subscribe.jpg" alt="image" class="subscribe__img">
      </a>
      <a href="@img/subscribe.jpg" data-fancybox="subscribe" class="subscribe__item">
        <img src="@img/subscribe.jpg" alt="image" class="subscribe__img">
      </a>
      <a href="@img/subscribe.jpg" data-fancybox="subscribe" class="subscribe__item">
        <img src="@img/subscribe.jpg" alt="image" class="subscribe__img">
      </a>
      <a href="@img/subscribe.jpg" data-fancybox="subscribe" class="subscribe__item">
        <img src="@img/subscribe.jpg" alt="image" class="subscribe__img">
      </a>
    </div>
  </div>
</section>