.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn {
  @include flex-center;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--black);
  outline: none;
  padding: 10px 20px;
  min-height: 47px;

  font-size: 16px;
  color: var(--black);

  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;

  &._black {
    background-color: var(--black);
    border-color: var(--black);
    color: white;
    @include pressed {
      background-color: transparent;
      color: var(--black);
      border-color: var(--black);
    }
  }

  @include hover {
    color: white;
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
  @include pressed {
    background-color: var(--black);
    border-color: var(--black);
  }
}

.btn-back {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;

  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 40px;

  font-size: 16px;
  font-weight: 500;
  transition: opacity .2s ease;
  @include hover {
    opacity: 0.5;
  }
  @include tablet {
    margin-bottom: 20px;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
