.input {
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--secondary);
  padding: 5px 14px;
  min-height: 47px;
  font-size: 16px;

  &::placeholder {
    color: var(--secondary);
  }
}

select.input {
  cursor: pointer;
}