.product-card {
  position: relative;
  grid-column: 3 span;
  &._selected {
    .product-card__like {
      color: white;
    }
  }

  @include tablet {
    grid-column: 4 span;
  }

  &__like {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    overflow: 0;
    outline: none;
    padding: 0;

    top: 10px;
    right: 10px;
    display: block;
    width: 28px;
    height: 28px;
    color: transparent;
    z-index: 2;
    transition:
      color 0.2s ease,
      transform 0.2s ease;

    @include hover {
      color: white;
    }
    @include pressed {
      transform: scale(1.1);
    }

    @include tablet {
      width: 20px;
      height: 20px;
    }

    svg {
      width: 100%;
      height: 100%;
      stroke: white;
    }
  }
  &__gallery {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 135%;
    @media (min-width: 993px) {
      &:hover {
        .product-card__order {
          opacity: 1;
        }
      }
    }
  }
  &__order {
    @include flex-center;
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease;

    &._open {
      opacity: 1;
    }
  }
  &__order-btn {
    border: none;
    max-width: 130px;
    width: 100%;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease;
  }
  &__rect {
    cursor: pointer;
    display: none;
    width: 30px;
    position: absolute;
    height: 30px;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    @include laptop-min {
      display: block;
    }

    &._active {
      span {
        &:first-child {
          transform: rotate(0deg);
        }
      }
    }
  }
  &__rect-wrapper {
    @include flex-center;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    color: var(--black);
    border-radius: 4px;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    @include hover {
      color: white;
      background-color: var(--black);
    }

    span {
      position: absolute;
      width: 12px;
      height: 1px;
      border-radius: 10px;
      background-color: currentColor;
      transition: transform 0.2s ease;

      &:first-child {
        transform: rotate(90deg);
      }
    }
  }
  &__title {
    margin-top: 12px;
    display: block;
    font-size: 16px;
    line-height: 19px;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.5;
    }
    @include mobile {
      font-size: 12px;
      margin-top: 10px;
    }
  }
  &__price {
    font-size: 16px;
    color: var(--secondary);
    margin-top: 6px;
    @include mobile {
      font-size: 12px;
      margin-top: 4px;
    }
  }
}
